{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'App/base.css' %}">
    <title>{% block title %}MiProyecto{% endblock %}</title>
</head>
<body>
    {% block content %}
    <div class="Header">
        <header>
        <h1>ChisteByte</h1>
        </header>
    </div>
    <div class="parent">
    <div class="description">
        <h2>Bienvenido, gracias por visitarnos</h2>
        <h3>Escoge la opcion que mas te guste</h3>
    </div>
    </div>
    <main>
        <div class="container">
        <nav>
            <ul>
                <ul>
                        <li><a class= "nav-button" href="{% url 'login' %}">Login</a></li>
                        <li><a class= "nav-button" href="{% url 'register' %}">Registro</a></li>
                        <li><a class= "nav-button" href="{% url 'profile' %}">Perfil</a></li>
                        <li><a class= "nav-button" href="{% url 'edit_profile' %}">Editar Perfil</a></li>
                        <li><a class= "nav-button" href="{% url 'delete_profile' %}">Eliminar Perfil</a></li>
                </ul>
            </ul>
        </nav>
    </div>
    </main>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
 {% endblock %}
 <footer>
    <p>Derechos reservados 2023</p>
  </footer>
</body>
</html>
