<!-- MiApp/templates/buscar_resultados.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de la Búsqueda</title>
</head>
<body>



{% block content %}
    <h1>Resultados de la Búsqueda</h1>
    <!-- Contenido específico para mostrar resultados de la búsqueda -->
    <ul>
        {% for categoria in categorias %}
            <li>{{ categoria.nombre }} (Categoría)</li>
        {% endfor %}
        {% for producto in productos %}
            <li>{{ producto.nombre }} (Producto)</li>
        {% endfor %}
        {% for cliente in clientes %}
            <li>{{ cliente.nombre }} (Cliente)</li>
        {% endfor %}
    </ul>
{% endblock %}

</body>
</html>
