{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'App/buscar.css' %}">
    <title>Buscar</title>
</head>
<body>

{% block content %}
<div class="Header">
    <header>
    <h1>Busca lo que necesites</h1>
    </header>
</div>
<div class="parent">
<div class="description">
    <h2>Deseas consultar algo? adelante con confianza</h2>
</div>
</div>
    <form method="post" action="{% url 'buscar' %}">
        {% csrf_token %}
        <label for="buscar_texto">Buscar:</label>
        <input type="text" name="buscar_texto" id="buscar_texto">
        <button type="submit">Buscar</button>
    </form>
    <div class="boton-container">
        <a class="home-a" href="{% url 'home' %}">
            <button class="home" type="button">Ir a inicio</button>
        </a>
    </div>
{% endblock %}
<footer>
    <p>Derechos reservados 2023</p>
  </footer>
</body>
</html>
